body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.menu {
    width: 200px;
    background-color: #f2f2f2;
    margin-right: 10px;
    max-width: calc(100% - 200px);
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 10px;
    cursor: pointer;
}

.subcategories {
    width: 250px;
}

.subcategories ul {
    list-style-type: none;
    padding: 0;
}

.subcategories ul li {
    padding: 10px;
    cursor: pointer;
}

.products {
    flex-grow: 1;
    padding: 5px;
    display: flex;
    max-width: 350px;
    overflow: hidden;
    cursor: pointer;
}

.product-info {
    max-width: 300px;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.product-info img {
    max-width: 100%; 
    order: 2; 
}

.product-info h2 {
    order: 1;
    padding: 3px;
}

.product-info p {
    order: 3; 
    text-align: start;
}

.product-info button {
    order: 4; 
    margin-top: 10px; 
    max-width: 50%;
}

